.pre-footer_wrap{
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 98%;
    padding: 0 1%;
    background-color: #097e89;
    color: #ffffff
}
.pre-footer_about{
    display: flex;
    flex-direction: column;
    width: 33%;
    padding-left: 40px;
    padding-top: 5px;
}
.pre-footer_text{
    padding-top: 35px;
    font-size: 12px;
}
.pre-footer_title{
  font-size: 30px;
}
.pre-footer_message{
    padding: 40px 15px 0px 17%;
}
input[type="text"]{
    padding-right: 5px;
    padding-left: 20px;
    color: #ffffff
}

input::-webkit-input-placeholder { color: white; };
input::-moz-placeholder { color: white;}
.form__input{
    width: 200px;
    height: 45px;
    background-color: #097e89;
    border: 1px solid white;
    /* border-radius: 3px; */
    color: #ffffff;
    margin-left: -4px
}
.form__button{
   width: 99px;
   height: 47px;
   margin-left: -7px;
   border-radius: 3px;
   background-color: #fff;
   color: #097e89;
   border: 1px solid #fff;
   cursor: pointer;
}

@media(max-width:1280px){
 .pre-footer_message{
     padding-left: 9%;
 }
}
@media(max-width:1080px){
    .pre-footer_title{
        font-size: 20px;
    }
    .pre-footer_message{
        padding-left: 6%
    }
    .pre-footer_about{
        width: 29%;
        padding-left: 20px;
    }
}
@media(max-width:924px){
    .pre-footer-form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pre-footer_wrap{
        flex-direction: column;
        height: 225px;
        justify-content: center;
        align-items: center;
    }
    .pre-footer_about{
        width: 70%;
        text-align: center;
    }
    .form__input{
        width: 180px;
    }
}
@media(max-width:550px){
    .form__input{
        width: 120px;
    }
}
@media(max-width:425px){
    .form__input{
        width: 95px;
    }
}
@media(max-width:360px){
    .form__input{
        width: 75px;
        font-size: 10px;
    }
}