.header-wrap{
    width: 100%;
    background-size: cover;
    height: 750px; 
    background-image: linear-gradient(to right, rgba(30, 25, 77, 0.65) 0%, rgba(49, 29, 94, .85) 100%), url(../../img/bg.jpg);
}
.header-menu_wrap{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
 padding: 23px 15px;
 margin-bottom: 125px;
 height: 62px;
 border-bottom: 0.5px solid rgba(144, 130, 190, 0.353)
}
.header-navigation_list{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.navigation-list_item{
    padding-left: 60px;
}
.navigation-list_link{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    transition-duration: 500ms;
    transition-property: color
}
.navigation-list_link:hover,.navigation-list_link:active,.navigation-list_link:focus{
    color: #097e89
}
.navigation-list_item:first-child{
    padding-left: 0px;
}
.logo-pic{
    margin-left: 20px;
}
.header-socials_icon{
        width: 35px; 
        height: 40px;
        padding-left: 5px;
        fill: #fff;
        cursor: pointer;
        transition-duration: 300ms;
        transition-property: fill
}
.header-socials_icon:hover{
    fill: #097e89
}
.header-socials_list{
    list-style: none;
    display: flex;
    flex-direction: row;
}

/* MEDIAS TIME */
@media(max-width:1280px){
    .navigation-list_item{
        padding-left: 40px;
    }
}
@media(max-width:1024px){

}
@media(max-width:968px){
    .navigation-list_item{
        padding-left: 20px;
    }
    .header-menu_wrap{
        justify-content: space-between
    }
    .logo-pic{
        margin-left: 10px;
    }
}
@media(max-width:768px){
    .header-menu_wrap{
        flex-direction: column;
        padding: 40px 30px 65px 30px
    }
    .header-main_navigation{
        padding: 15px 0px;
    }
 
}
@media(max-width:550px){

}
@media(max-width:360px){

}