.header-wrap{
    width: 100%;
    background: url('../../img/bg.jpg') no-repeat center top rgba(0, 0, 0, 0.747);
    background-size: cover;
    height: 650px; 
}
.header-menu_wrap{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
 padding-top: 23px;
 margin-bottom: 125px;
 height: 62px;
 border-bottom: 0.5px solid rgba(91, 79, 131, 0.353)
}
.header-navigation_list{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.navigation-list_item{
    padding-left: 60px;
}
.navigation-list_link{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    transition-duration: 500ms;
    transition-property: color
}
.navigation-list_link:hover,:active,:focus{
    color: #097e89
}
.navigation-list_item:first-child{
    padding-left: 0px;
}
.logo-pic{
    margin-left: 20px;
}
.header-socials_icon{
        width: 35px; 
        height: 40px;
        padding-left: 5px;
        fill: #fff;
        cursor: pointer;
        transition-duration: 300ms;
        transition-property: fill
}
.header-socials_icon:hover{
    fill: #097e89
}
.header-socials_list{
    list-style: none;
    display: flex;
    flex-direction: row;
}
@media(max-width:920px){
    .navigation-list_item{
        padding-left: 40px;
    }
}