.main-about_wrap{
    width: 100%;
    height: 425px;
    display: flex;
    flex-direction: row;
}
.about-block_left{
    /* left: 0; */
    width: 50%;
    background: url('../../img/content/1.jpg') no-repeat center #000;
    background-size: cover;

}
.about-block_right{
    /* left:44;right:66,top:52,bot:92 */
    padding: 52px 66px 92px 44px;
    width: 50%
}
.about-right_title{
   font-size: 24px;
   text-transform: uppercase;
   border-bottom: 1px solid black;
} 
.about-text_block{
}
.about-info_text{
    padding-top: 23px;
    font-size: 11px;
}
.about-info_button{
    margin-top: 45px;
    width: 160px;
    height: 24px;
    border-radius: 5px;
    background-color: rgb(5, 160, 175);
    border: 0px
}